.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 4px 96px;
}

.nav-items {
  display: flex;
  gap: 32px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-left: 96px;
  padding-right: 96px;
}

ul {
  list-style: none;
}
.hero h1 {
  margin: 0;
  color: #f4ce14;
  font-family: "Markazi Text", serif;
  font-size: 64px;
  font-weight: 500;
}
.hero-location {
  margin: 0;
  color: #edefee;
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 400;
}
.hero-description {
  color: #edefee;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.hero-btn {
  padding: 16px 24px;
  background-color: #f4ce14;
  border: none;
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  border-radius: 16px;
}
.hero-img {
  aspect-ratio: 340/320;
  object-fit: cover;
  max-width: 365px;
  border-radius: 16px;
  width: 100%;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 96px;
  padding-right: 96px;
  background-color: #495e57;
  padding-top: 24px;
  padding-bottom: 24px;
}
.hero-content {
  width: 430px;
}
.mobile-view {
  display: none;
}
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    gap: 24px;
    padding: 16px;
  }
  .hero-content {
    max-width: 365px;
    width: 100%;
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero-location {
    font-size: 32px;
  }
  .header {
    padding: 4px 16px;
  }
}
@media (max-width: 962px) {
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: block;
  }
}
